{% load static %}
<!doctype html>
<html lang="en">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link href="{% static 'assets/vendor/fonts/circular-std/style.css" rel="stylesheet' %}">
    <link rel="stylesheet" href="{% static 'assets/libs/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/fontawesome/css/fontawesome-all.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/charts/chartist-bundle/chartist.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/charts/morris-bundle/morris.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/charts/c3charts/c3.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/flag-icon-css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>EQBS</title>
</head>
 <style type="text/css">
    .profile_picw{
        width: 150px;
        height: 150px;
        margin: 0 auto;
        border-radius: 40%;       
    }
    .content-right {
    top: 80px;
    right:600px;
   }

   .colo{
        color: #002147;
    }
    .bg-co{
        background-color: #002147;
    }
    .text{
        text-color:#fff
    }
    .bg{
       background-color:#f5f5f5
    }

</style>
 <style>
        hr.divider {
            max-width: 25rem;
            border-width: 0.2rem;
            border-color: #002147;
        }
        
        .sidebar-heading {
            padding: 0.875rem 1.25rem;
            font-size: 1.2rem;
        }
        
        .btn {
            color: #fff;
        }
        hr.divider {
            max-width: 25rem;
            border-width: 0.2rem;
            border-color: #002147;
        }
        
        .sidebar-heading {
            padding: 0.875rem 1.25rem;
            font-size: 1.2rem;
        }
        

        .cart-icon{
             width: 25px;
             display: inline-block;
             margin-left: 5px;
        }
        .cart-total{
            display: block;
            text-align: center;
            color: #fff;
            background-color: red;
            width: 25px;
            height: 25px;
            border-radius:50%;
            font-size:14px;
            margin-right:10px
        }
         .profile_pc{
  		width: 50px;
  		height: 50px;
  		margin: 0 auto;
  		border-radius: 50%;
  		background-size: cover;
  	}

    </style>

    <script type="text/javascript">
        var user = '{{request.user}}'

        function getToken(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getToken('csrftoken');


        function getCookie(name){
            //split cookie value and get all individual name=value pairs in an arrey

            var cookieArr = document.cookie.split(";");


            //loop through the array elements
            for(var i =0; i< cookieArr.length; i++){
                var cookiePair = cookieArr[i].split("=");


                //removing whitespace

                if(name == cookiePair[0].trim()){

                    // decode the cookie value and return
                    return decodeURIComponent(cookiePair[1]);
                }
            }

            //return null if not found
            return null;
        }

        var rcart = JSON.parse(getCookie('rcart'))

        if (rcart == undefined) {
            rcart = {}
            console.log('Cart was created')
            document.cookie = 'rcart=' + JSON.stringify(rcart) + ";domain;path=/"
        }


        console.log('rcart:', rcart)


    </script>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-co fixed-top">
                <a class="navbar-brand text-white" href="index.html">LABORATORY EQUIPMENT BORROWING SYSTEM</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse ">
                    <ul class="navbar-nav ml-auto navba-right-top">
                      <li class="nav-item">
                        <a class="nav-link js-scroll-trigger text-white" href=""></a>
                     </li>
                      
                        <li class="nav-item dropdown connection">
                            <a class="nav-link btn" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-universal-access"></i> Wellcome {{request.user}}</a>
                        </li>
                        <li class="nav-item dropdown connection m-r-10">
                            <a class="nav-link btn" href="{% url 'rcart' %}"></i>Reserved Equipments</a>
                        </li>
                        <p class="cart-total m-r-15">{{cartItems}}</p>   
                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-light">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Home</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                    
                        <ul class="navbar-nav flex-column">
                         <li class="ml-4 mb-5 m-t-30">
                            <a href="{% url 'index' %}" class="profile_picw"><img class="profile_picw" src="{% static 'assets/img/udsmlogo.png' %}"></a>
    
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text" href="{% url 'student_home' %}" style="font-size:16px" ><i class="fas fa-home"></i>Home</a>
    
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="{% url 'rcart' %}" style="font-size:16px"><i class="fas fa-tasks"></i>Reserve Summary</a>
                            </li>
                            
                             <li class="nav-item">
                                <a class="nav-link" href="{% url 'reserved' %}" style="font-size:16px"><i class="fas fa-user"></i>My Reservation</a>
                            </li>
                             <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}" style="font-size:16px"><i class="fas fa-sign-out-alt"></i>Logout</a>
                            </li>
                        </ul>
                        <hr>
                    </div>
                </nav>
            </div>
        </div>
        <div class="bg">

        {% block content  %}
       
        {% endblock content  %}
        </div>
   
    </div>
    <!-- jquery 3.3.1 -->
    <script src="{% static 'assets/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <!-- bootstap bundle js -->
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
    <!-- slimscroll js -->
    <script src="{% static 'assets/vendor/slimscroll/jquery.slimscroll.js' %}"></script>
    <!-- main js -->
    <script src="{% static 'assets/libs/js/main-js.js' %}"></script>
    <!-- chart chartist js -->
    <script src="{% static 'assets/vendor/charts/chartist-bundle/chartist.min.js' %}"></script>
    <!-- sparkline js -->
    <script src="{% static 'assets/vendor/charts/sparkline/jquery.sparkline.js' %}"></script>
    <!-- morris js -->
    <script src="{% static 'assets/vendor/charts/morris-bundle/raphael.min.js' %}"></script>
    <script src="{% static 'assets/vendor/charts/morris-bundle/morris.js' %}"></script>
    <!-- chart c3 js -->
    <script src="{% static 'assets/vendor/charts/c3charts/c3.min.js' %}"></script>
    <script src="{% static 'assets/vendor/charts/c3charts/d3-5.4.0.min.js' %}"></script>
    <script src="{% static 'assets/vendor/charts/c3charts/C3chartjs.js' %}"></script>
    <script src="{% static 'assets/libs/js/dashboard-ecommerce.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script src="{% static 'js/cart.js' %}"></script>
</body>
 
</html>